article, img {
    max-width: 60ch; /* bruker 60ch fordi noen steder blir det for mange characters om jeg har mer enn 60 */
    margin: auto;
}

body {
    font-family: Verdana, Georgia;
    color: #323232;
    font-size: 20px;
    line-height: 150%; 
    background-color: lightgray;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

#intro {
    border-top: gray dashed 2px;     
}

h2 {
    font-size: 1.8em;
}

p, blockquote, ul, ol {
    font-size: 1em;
    line-height: 1.5em;
}

#facts {
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}

#facts > ul {
    list-style-image: url('img\cup-icon.svg');
    line-height: 1.5em;
    padding-left: 1.5em;
}

